<nz-modal
  nzTitle="{{ detail.id ? '修改' : '新增' }}用户"
  [nzVisible]="visible"
  [nzOkLoading]="okLoading"
  (nzOnCancel)="onCancel.emit()"
  (nzOnOk)="onOk()"
>
  <app-basic-form *nzModalContent #basicForm [items]="formItems">
    <!-- must add key="xxx" for ng-content to select, and must add formGroup because formControlName need be wrapped by formGroup -->
    <ng-container key="role" [formGroup]="basicForm.form">
      <app-role-select formControlName="role"></app-role-select>
    </ng-container>
  </app-basic-form>
</nz-modal>

<ng-template #nameLabel>
  <span>Name<span style="color: lightblue">(custom)</span></span>
</ng-template>
